/****************************************************************for elements*****************************************************/

body{
  font-family: "Montserrat";
}

h1{
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}


/****************************************************************Forf Ids*********************************************************/
#title{
  background-color: #ff4c68;
  color: #fff;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

#footer{
  text-align: center;
  padding: 3% 18% 1%;
}

/****************************************************************for classes******************************************************/
.container-fluid{
  padding: 3% 15% 7%;
}

/* navbar styling */
.navbar{
  padding:0 0 4.5rem;
}

/* navbar brand styling */
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

/* nav item(contents of drop down menu on right side top side of the screen) styling */
.nav-item{
  padding: 0 18px;
}

/* nav links styling */
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* download button styling using custm class */
.download-button{
  margin: 5% 3% 5% 0;
}

/* title image styling */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.feature-elements{
  text-align: center;
  padding: 5%;
}

.feature-icons{
  margin: 0 0 1rem 0;
  color: #ef8172;
}

.feature-icons:hover{
  color: #ff4c68;
}

.featur-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-description{
  color: #8f8f8f;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

.footer-icons{
  margin: 2%;
}

.footer-text{
  font-family: "Montserrat";
  font-weight: bold;
  color: grey;
}

/* .cta-head{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
} */
