/****************************************************************for elements*****************************************************/
h1{
  font-family: "Montserrat-Black";
  line-height: 1.5;
  font-size: 3rem;
  margin-top: 20%;
}



/****************************************************************Forf Ids*********************************************************/
#title{
  background-color: #ff4c68;
}

/****************************************************************for classes******************************************************/
.container-fluid{
  padding: 3% 15%;
}
